<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css"></link>
    <title>Continents View</title>
</head>
<body>
<div class="container">
    <main class="continents">
        <h1>Continents</h1>
        <section class="continentsList" th:each="continent : ${continentsModel}">
            <ul>
                <li>
                    <a class="btn" th:href="@{/continents/{id}(id=${continent.id})}" th:text="${continent.continentName}"></a>
                </li>
            </ul>
        </section>
    </main>
    <nav>

        <a class="btn" th:href="@{/countries}">View by Countries</a>
        <a class="btn" th:href="@{/islands}">View by Islands</a>
        <a class="btn" th:href="@{/waterways}">View by Waterways</a>
        <a class="btn" th:href="@{/index.html}">Home</a>

    </nav>
</div>
<footer>
    <small>&copy JAC Enterprises Team 4 2022</small>
</footer>
</body>
</html>