<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css"></link>
    <title th:text = "${continentModel.continentName}"></title>
</head>
<body>
<div class="container">
    <main class="continent">
        <h1 class="page-header" th:text ="${continentModel.continentName}"></h1>
        <img th:src="@{${continentModel.imgUrl}}" alt="">
        <p><strong>Description: </strong><span class="continentDetail" th:text="${continentModel.continentDesc}">Continent</span></p>
    </main>
    <section class="countriesList">
            <h2 class="">Countries in <span class="" th:text="${continentModel.continentName}"></span>:</h2>
            <nav class="" th:each="country:${continentModel.countries}">
<!--                <ul class="">-->
<!--                    <li class="" th:each="country:${continentModel.countries}">-->
                        <a class="btn" th:href="@{'/countries/'+ ${country.id}}"
                           th:text="${country.countryName}"></a>
<!--                    </li>-->
<!--                </ul>-->
            </nav>
    </section>
    <nav>

        <a class="btn" th:href="@{/continents}">View by Continents</a>
        <a class="btn" th:href="@{/countries}">View by Countries</a>
        <a class="btn" th:href="@{/islands}">View by Islands</a>
        <a class="btn" th:href="@{/waterways}">View by Waterways</a>
        <a class="btn" th:href="@{/index.html}">Home</a>
    </nav>
</div>
<footer>
    <small>&copy JAC Enterprises Team 4 2022</small>
</footer>
</body>
</html>