<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"></link>
    <meta charset="UTF-8">
    <title>Island View</title>
</head>
<body>
    <div class="container">
        <main>
            <div class="island-header">
                <div class="island-info">
                    <h1 th:text ="${islandModel.islandName}"></h1>
                    <h2 th:text="${islandModel.islandDesc}"></h2>

                </div>

                <img class="island-image" th:src="${islandModel.imgUrl}">
            </div>


            <h1>Island View</h1>
        </main>
    </div>
</body>

</html>