<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css"></link>
    <title th:text = "${islandModel.islandName}"></title>
</head>
<body>
<div class="container">
    <main class="island">
        <h1 th:text ="${islandModel.islandName}"></h1>
        <img th:src="@{${islandModel.imgUrl}}" alt="Image of island">
        <p><strong>Description: </strong><span class="islandDetail" th:text="${islandModel.islandDesc}">Island</span></p>
    </main>
    <section class="waterwaysList">
        <h2 class="">Waterways in: <span class="" th:text="${islandModel.islandName}"></span></h2>
        <nav class="" th:each="waterway:${islandModel.waterways}">
            <!--                <ul class="">-->
            <!--                    <li class="" th:each="country:${continentModel.countries}">-->
            <a class="btn" th:href="@{'/waterways/'+ ${waterway.id}}"
               th:text="${waterway.waterwayName}"></a>
            <!--                    </li>-->
            <!--                </ul>-->
        </nav>
    </section>
    <nav>
        <a class="btn" th:href="@{/continents}">View by Continents</a>
        <a class="btn" th:href="@{/countries}">View by Countries</a>
        <a class="btn" th:href="@{/islands}">View by Islands</a>
        <a class="btn" th:href="@{/waterways}">View by Waterways</a>
        <a class="btn" th:href="@{/}">Home</a>
    </nav>
</div>
<footer>
    <small>&copy JAC Enterprises Team 4 2022</small>
</footer>
</body>
</html>