<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css"></link>
    <title>Waterways</title>
</head>
<body>
<div class="container">
    <main class="waterways">
        <h1 class="page-header">Waterways</h1>
        <section class="waterwaysList" th:each="waterway : ${waterwaysModel}">
            <ul>
                <li>
                    <a class="btn" th:href="@{/waterways/{id}(id=${waterway.id})}" th:text="${waterway.waterwayName}"></a>
                </li>
            </ul>
        </section>
    </main>
    <nav>
        <a class="btn" th:href="@{/continents}">View by Continents</a>
        <a class="btn" th:href="@{/countries}">View by Countries</a>
        <a class="btn" th:href="@{/islands}">View by Islands</a>
        <a class="btn" th:href="@{/}">Home</a>
    </nav>
</div>
<footer>
    <small>&copy JAC Enterprises Team 4 2022</small>
</footer>
</body>
</html>