body {
  background-image: url("../images/crinkled-paper.jpg");
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

a {
  color: black;
  background-image:  url("../images/crinkled-paper.jpg");
  border: 2.5px solid black;
  border-radius: 10px;
  padding: 3px;px;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

a:hover {
  background-image: unset;
  color: bisque;
  background-color: black;
  transform: scale(1.5);
}

nav {
  margin-bottom: 5rem;

}

p.landing {
  margin: 10rem 20rem 8rem 20rem;
  font-weight: bolder;
  font-size: 1.2rem;
}

.services {
  font-weight: bolder;
  font-size: 1.2rem;
  margin: 0rem 20rem 5rem 20rem;
}

#github {
  height: 25px;
}

#linkedin {
  height: 25px;
}

.world-map{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

