body {
  background-image: url("../images/crinkled-paper.jpg");
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

a {
  color: black;
  background-image:  url("../images/crinkled-paper.jpg");
  border: 2.5px solid black;
  border-radius: 10px;
  padding: 3px;px;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

a:hover {
  background-image: unset;
  color: bisque;
  background-color: black;
  
}

.headshot {
  max-width: 300px;
  border-radius: 25%;
}

nav {
  margin-bottom: 5rem;

}

p {
  margin: 5rem 20rem 5rem 20rem;
}

p.landing {
  margin: 10rem 20rem 8rem 20rem;
  
}

ul {
  list-style-type: none;
}
#github {
  all: unset;
  height: 25px;
  padding-bottom: 30px;
  padding-right: 10px;
  transition: transform 0.5s;
}

#github:hover {
  transform: scale(1.75);
}

#linkedin {
  all: unset;
  height: 25px;
  padding-bottom: 30px;
  padding-left: 10px;
  transition: transform 0.5s;
}

#linkedin:hover {
  transform: scale(1.75);
}

section {
  padding: 2rem;
  font-weight: bolder;
  font-size: 1.2rem;
}

.world-map{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


